/** Variable Global **/
$color_validate: green;

/** Basic **/

// a {
// 	color: #2b5bb2
// }

// a:hover{
// 	color: black
// }

.content_ticket{
	font-size : 25px;
	//padding-top: 100px;
}

.title {
	font-size: 40px;
}

.title-section {
	padding-left: 30px;
}

.section {
	background: #fff;
}

.modimo-tile {
	background: white;
	border-radius: 3px;
	padding: 10px 0;
}

.modimo-color {
	color: #2b5bb2;
}

.modimo-title-size {
	font-size: 16px;
}

.modimo-content-size {
	font-size: 14px;
}

.modimo-tiny-padding {
	padding: .4rem;
}


@media screen and (max-width: 769px) {// tablet
	.modimo-title-size {
		font-size: 28px;
	}
}

@media screen and (min-width: 769px) {// tablet
	.modimo-title-size {
		font-size: 20px;
	}

	.modimo-content-size {
		font-size: 15px;
	}
}

@media screen and (min-width: 1000px) {// desktop
	.modimo-title-size {
		font-size: 20px;
	}

	.modimo-content-size {
		font-size: 16px;
	}
}

.small-text {
	font-size: 11px;
}

.bold {
	font-weight: bold;
}

.no-bold {
	font-weight: normal;
}

.comment {
	margin-left : 2em;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: #C8C8C8 1px solid;
}

.my-modal-background {
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
/** Advancement **/

.circle-processDown {
	color: #ff4d4d;
}

.circle-processUp {
	color: #5cd65c;
}

@keyframes example {
	0%   { width: 200px; }
	50%  { width: 100px; }
	100% { width: 200px; }
}

/** super-button **/

.super-button {
	width: 50px;
	height: 50px;
	line-height: 40px;
	position: absolute;
	right: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid white;
	text-align: center;
	display: inline-block;
	z-index: 10;
	color: white;
}

.super-button:hover {
	color: #2b5bb2;
}

.super-button:after {
	position: absolute !important;
	content: "";
	width: 48px;
	height: 48px;
	display: block;
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	right: -1px;
	top: -1px;
	background-color: white;
	visibility: hidden;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	opacity: 1\9;
	visibility: visible\9;
	display: none\9;
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	z-index: -1;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.super-button:hover:after {
	visibility: visible;
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	display: block\9;
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.modal-card-head {
	display : inline;
}

.dropdown {
  width: 100%;

  .dropdown-trigger {
    width: 100%
  }

  .button {
    display: flex;
    width: 100%;
    justify-content: space-between
  }

}

.columns.is-vcentered {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.is-text-overflow {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// @media screen and (min-width: 769px){
.modal-card, .modal-content {
    // margin: 0 auto;
    max-height: calc(100vh - 150px);
    // width: 640px;
}
//}