/** Variable Global **/
$color_validate: green;

/** Basic **/

.title {
	font-size: 40px;
}

.icon-status {
	padding-top: 15px;
}

.title-section {
	padding-left: 30px;
}

.background-tile {
	background: #f5f5f5;
}

.modimo-color {
	color: #2b5bb2;
}

.modimo-size {
	font-size: 20px;
}

.small-text {
	font-size: 11px;
}

.bold {
	font-weight: bold;
}

.comment {
	margin-left : 2em;
}

.my-modal-background {
	background-color: rgba(10,10,10,.6);
}
/** Advancement **/

.animated-advancement {
	padding-right: 30px;
	height: 24px;
	display: flex;
	justify-content: center;
}

.circle-inProcess {
	background: rgba(233, 2, 104, 0.5);
	display: inline-block;
	width: 200px;
	height: 10px;
	border-radius: 5px;
	margin: 2px;
	position: relative;
}

.circle-inProcess:nth-child(1) {
	background-color: rgba(233, 2, 104, 1.0);
	animation-name: example;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.circle-inProcess:nth-child(2) {
	background-color: rgba(238, 57, 88, 1.0);
	animation-name: example;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 0.5s;
}

.circle-inProcess:nth-child(3) {
	background-color: rgba(246, 133, 66, 1.0);
	animation-name: example;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 1.5s;
}

.circle-inProcess:nth-child(4) {
	background-color: rgba(253, 200, 47, 1.0);
	animation-name: example;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 2.0s;
}

.circle-processDown {
	background: rgb(15, 185, 15);
	display: inline-block;
	width: 600px;
	height: 10px;
	border-radius: 5px;
	margin: 2px;
	position: relative;
}

@keyframes example {
	0%   { width: 200px; }
	50%  { width: 100px; }
	100% { width: 200px; }
}

/** super-button **/

.super-button {
	width: 55px;
	height: 55px;
	line-height: 49px;
	display: block;
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #444;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 10;
	color: #333;
}

.super-button:hover {
	color: #fff;
}

.super-button:after {
	position: absolute !important;
	content: "";
	width: 36px;
	height: 36px;
	display: block;
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	right: 8px;
	top: 8px;
	background-color: #333;
	visibility: hidden;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	opacity: 1\9;
	visibility: visible\9;
	display: none\9;
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	z-index: -1;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.super-button:hover:after {
	visibility: visible;
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	display: block\9;
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}