.center {
    text-align: center;
}

.modimo-clear {
    background-color: white;
    color: black;
}

.modimo-dark {
    background-color: #2b5bb2;
    color: white !important;
}

.text-dark {
    color: rgb(35, 47, 62) !important;
}

.modimo-title {
    color: #2b5bb2 !important;
}

.white-title {
    color: white;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

.is-fullheight {
    min-height: 100vh;
}

$font-size: .75rem;
$line-height: 1.3;
$lines-to-show: 2;
  
.modimo-app-description {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: $font-size*$line-height*$lines-to-show;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero.is-fullheight {
    .hero-body {
        align-items: flex-start;
        padding-top: 52px;
    }
}

.modimo-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
