
$cta-color: #2b5bb2;

.glowing {
    animation-duration: 2s;
    animation-name: disruptive-glow;
    animation-iteration-count: infinite;
  }

@keyframes disruptive-glow {
    from {
        background-color: $cta-color;
        box-shadow: 0 0 9px $cta-color;
    }
    50% {
        background-color: darken($cta-color, 10%);
        box-shadow: 0 0 18px darken($cta-color, 10%);
    }
    to {
        background-color: $cta-color;
        box-shadow: 0 0 9px $cta-color;
    }
}

.margin-vertical {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.is-horizontal-center {
    justify-content: center;
}

.is-vertical-center {
    align-items: center;
    text-align: center;
}

.footer-resized {
    padding: 3rem 1.5rem 3rem !important;
}

.card {
    height: 100%
}

.is-loader {
    animation: spin 1s linear infinite;
}

.video-aligned {

    margin-top: 20px;
    margin-bottom: 10px;
    width: 75%;
}

.inline {
    display: inline-block;
}

.fa-facebook {
    color: white;
    background: #3B5998; 
}

a:hover {
    color: gainsboro;
}

a {
    color: white; 
}

.icon-card {
    display: inline-block;
}

.strong {
    font-weight: 700 !important;
}

.is-fullheight-minus-navbar {
    min-height: calc(100vh - 52px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// variables
$card-height: 200px;
$h-color:     #2B5BB2;
$yellow:      #D0BB57;
$txt-color:   #515151;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #323c41;
}

.blog-card{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: $card-height;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
  text-align: center;
  
  &.spring-fever{
    background: white;
  }

  &:hover{
    
    .card-info{
      opacity: 1;
      bottom: 40px;
    }
    .title-content{
        margin-top: 30px;
    }
  }
}

.landing-title {
    margin-bottom: 1rem;
    color: #2b5bb2;
    font-size: 46px;
    line-height: 50px;
    font-weight: 600;
}

.landing-subtitle {
    color: #2f2f2f;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1.5rem;
}

.title-content{
  text-align: center;
  margin: 80px 0 0 0;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition: margin .3s, opacity .3s cubic-bezier(.33,.66,.66,1);
}

h3 {
  font-size: 26px;
  font-weight: 600;
  color: $h-color;
  margin-bottom: 0;
}

.card-info{
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0;
  padding: 0 10px;
  color: $txt-color;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1);
}

.discover-button {
    background-color: #2b5bb2;
    color: #fff;
    border: none;
}

.discover-button:hover {
    transform: scale(1.02);
    color: #fff;
    border: none;
}

.signup-button {
    background-color: #fff;
    color: #2b5bb2;
    border: 1px solid #2b5bb2;
    margin-left: 10px;
    box-sizing: border-box;
}

.signup-button:hover {
    transform: scale(1.02);
    color: #2b5bb2;
    border: 1px solid #2b5bb2;
}

.modimo-landingtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modimo-lamndind-down {
    position: absolute;
    color: #2b5bb2;
    bottom: 10px;    
}

.modimo-landing-container {
    width: 100%;
    background-color: white;
    text-align: center;
    margin-bottom: -25px;
}

.landing-back-button {
    position: absolute;
    top: 60px;
    color: #2b5bb2;
    cursor: pointer;
    z-index: 2;
}

.landing-back-button:hover {
    text-decoration: underline;
}

.modimo-background {
    background-image: url("/static/img/city.jpg");
    height: 100%;
    width: 50%;
    right: 0;
    position: absolute;
    background-size:cover;
    opacity: 0.4;
    // z-index: 10000;
}

@media screen and (max-width: 588px) {

    .landing-title {
        font-size: 36px;
        line-height: 38px;
    }
    
    .landing-subtitle {
        font-size: 12px;
        line-height: 16px;
    }
    
    .signup-button {
        margin-left: 0;
    }

    .video-aligned {
        width: 100%;
        height: 250px
    }

    .title {
        font-size: 32px !important;
    }

    .subtitle {
        font-size: 16px;
    }

    .form-registration {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .pro-part-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100%;
    }

    h3 {
        font-size: 20px;
    }
}
